body {
	margin: 0;
	padding: 0;
	display: flex;
	flex: 1;
	min-height: 100vh;
	align-items: center;
	justify-content: center;
	background: rgba(217, 255, 0, 0.637);
}
.clock {
	height: 400px;
	width: 400px;
	border: 15px solid #fff;
	position: relative;
	padding: 2rem;
	border-radius: 50%;
	box-shadow: 0 0 0 4px rgba(0, 0, 0, 0.1), inset 0 0 0 5px #efefef,
		inset 0 0 10px #000, 0 0 0 rgba(0, 0, 0, 0.2);
}
.clock-face {
	position: relative;
	width: 100%;
	height: 100%;
	transform: translateY(-7px);
}

.hand {
	position: absolute;
	width: 50%;
	height: 7px;
	border-radius: 5px;
	background: rgb(71, 71, 71);
	top: 50%;
	right: 50%;
	transform-origin: 100%;
	transform: rotate(90deg);
	transition: all 0.01s;
	transition-timing-function: cubic-bezier(0.08, 0.82, 0, 2.43);
}

.seconds-hand {
	background: rgb(255, 54, 54);
	height: 2px;
}
.minutes-hand {
	width: 45%;
}
.hour-hand {
	width: 30%;
}
